/* Reset & Global styles */
body {
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; /* clean default font */
}

/* Make sure all elements respect box-sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* App container */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;   /* full screen height */

  width: 100vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

/* Scrollbar width */
::-webkit-scrollbar {
  width: 16px;               /* width of vertical scrollbar */
  height: 12px;              /* height of horizontal scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f0f9ff;       /* light blue / page background color */
  border-radius: 16px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* your primary blue */
  border-radius: 16px;
  border: 3px solid #f0f9ff; /* adds space around thumb */
}

/* Hover effect for thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #163ba2; /* darker blue on hover */
}

html {
  scroll-behavior: smooth;
}
